<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <title>Đơn đăng ký tạm trú</title>
</head>

<style>
    #flash-alert-success {
        position: absolute;
        z-index: 3;
        top: 0;
    }

    #line__head {
        text-align: center;
        width: 372px;
        border-width: 3px;
        opacity: 1;
        margin-left: 34%;
    }

    .top {
        position: absolute;
        top: 20px;
        right: 30px;
        max-width: 180px;
        text-align: center;
        font-size: 0.8rem;
    }

    div span {
        font-weight: bold;
        ;
        font-size: 1.2rem;
    }

    .nomal {
        font-weight: 400;
        ;
        font-size: 1.2rem;
    }

    .activity {
        position: fixed;
        display: flex;
        top: 100px;
        right: 50px;
    }
</style>

<body id="target">
    <div id="flash-alert-success" class="alert alert-success text-center w-100 mx-auto d-none ">
        <span> </span>
    </div>

    <div id="flash-alert-danger" class="alert alert-danger text-center w-100 mx-auto d-none">

    </div>

    <div class="top my-2">
        <p>Mẫu CT01 ban hành theo TT số 56/2021/TT-BCA ngày 15/5/2021</p>
    </div>

    <div class="container my-2">
        <div class="head my-4 text-center">
            <h3>CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</h3>
            <h3>Độc lập - Tự do - Hạnh phúc</h3>
            <hr id="line__head">
        </div>

        <div class="title my-2 text-center " style="margin-top: 48px;">
            <h2>TỜ KHAI THAY ĐỔI THÔNG TIN CƯ TRÚ</h2>
        </div>
        {{#if data }}

        <div class="content my-2 mt-4">
            <div class="receiver my-2">
                <span style="margin-left: 48px;">Kính gửi: Công an phường Tân Phong, Quận 7, Thành phố Hồ Chí
                    Minh</span>
            </div>

            <div class="name my-2">
                <span>1. Họ, chữ đệm và tên: <span class="nomal">{{data.hoten}}</span> </span>
            </div>

            <div class="birth__gender my-2 d-flex">
                <span>2. Ngày, tháng, năm sinh: <span class="nomal">{{formatDateTime data.ngaysinh}}</span></span>
                <span style="margin-left: 28%;">3. Giới tính: <span class="nomal">{{data.gioitinh}}</span> </span>
            </div>

            <div class="code my-2">
                <span>4. Số định danh cá nhân/CMND: <span id="code" class="nomal">{{data.cccd}}</span> </span>
            </div>

            <div class="contact my-2 d-flex">
                <span>5. Số điện thoại liên hệ: <span class="nomal">{{data.sodienthoai}}</span> </span>
                <span style="margin-left: 28%;">6. Email: <span class="nomal">{{data.email}}</span> </span>
            </div>

            <div class="old__add my-2">
                <span>7. Nơi thường trú: <span class="nomal">{{data.noithuongtru}}</span> </span>
            </div>

            <div class="now__add my-2">
                <span>8. Nơi tạm trú: <span class="nomal">{{data.diachitamtru}}</span> </span>
            </div>

            <div class="now__location my-2">
                <span>9. Nơi ở hiện tại: <span class="nomal">{{data.noiohientai}}</span> </span>
            </div>

            <div class="work my-2">
                <span>10. Nghề nghiệp, nơi làm việc: <span class="nomal">{{data.nghenghiep}}</span> </span>
            </div>

            <div class="boss my-2 d-flex">
                <span>11. Họ, chữ đệm và tên chủ hộ: <span class="nomal">Nguyễn Văn Tùng</span></span>
                <span style="margin-left: 28%;">12. Quan hệ với chủ hộ: <span class="nomal">{{data.relationship}}</span>
                </span>
            </div>

            <div class="boss__code my-2">
                <span>13. Số định danh cá nhân/CMND của chủ hộ: <span class="nomal">08022245526</span> </span>
            </div>

            <div class="content_require my-2">
                <span>14. Nội dung đề nghị: <span class="nomal">{{data.noidungdenghi}}</span> </span>
            </div>

            <div class="people my-2">
                <span>15. Những thành viên trong hộ gia đình cùng thay đổi</span>
            </div>

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">TT</th>
                        <th scope="col">Họ, chữ đệm và tên</th>
                        <th scope="col">Ngày, tháng, năm sinh</th>
                        <th scope="col">Giới tính</th>
                        <th scope="col">Số định danh cá nhân</th>
                        <th scope="col">Nghề nghiệp, nơi làm việc</th>
                        <th scope="col">Quan hệ với người thay đổi</th>
                        <th scope="col">Quan hệ với chủ hộ</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each array}}
                    <tr>
                        <th scope="row">{{this.stt}}</th>
                        <td>{{this.name1}}</td>
                        <td>{{this.birth1}}</td>
                        <td>{{this.gender1}}</td>
                        <td>{{this.code1}}</td>
                        <td>{{this.work1}}</td>
                        <td>{{this.rel1}}</td>
                        <td>{{this.relb1}}</td>
                    </tr>
                    {{/each}}


                </tbody>
            </table>


            <div class="text my-2 d-flex justify-content-between">
                <div class="one my-2 text-center" style="max-width: 220px;">
                    <span>... ngày...tháng...năm</span> <br>
                    <h6>Ý KIẾN CỦA CHỦ HỘ</h6>
                    <p style="margin-bottom: 0;">Đồng ý cho đăng ký tạm trú tại địa chỉ {{data.diachitamtru}}</p>
                    <span>Tùng</span> <br>
                    <span>Nguyễn Văn Tùng</span>
                </div>
                <div class="two my-2">
                    <span>...ngày...tháng...năm</span> <br>
                    <h6 class="text-center">Ý KIẾN CỦA CHỦ SỞ HỮU</h6>
                </div>
                <div class="three my-2">
                    <span>...ngày...tháng...năm</span> <br>
                    <h6 class="text-center">Ý KIẾN CỦA CHA MẸ</h6>
                </div>
                <div class="four my-2">
                    <span>...ngày...tháng...năm</span> <br>
                    <h6 class="text-center">NGƯỜI KÊ KHAI</h6>
                </div>
            </div>
            {{/if }}
        </div>
    </div>

    <div class="activity flex-column">
        <button class="btn btn-primary my-2" id="download">Tải xuống</button>
        <button onclick="history.back()" class="btn btn-secondary" id="btnBack">Trở lại</button>

    </div>

    {{#if room }}
    <input id="room" type="text" class="d-none" value="{{room}}">
    {{/if }}


</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.4.1/jspdf.min.js"></script>
<script>
    const activities = document.querySelector(".activity");
    const btn__download = document.getElementById("download");
    const btn__send = document.getElementById("send-host");
    const flash_success = document.getElementById("flash-alert-success");
    const code = document.getElementById("code");
    const room = document.getElementById("room");



    btn__download.addEventListener("click", function () {
        const fileName = room.value
        const cmnd = code.textContent
        fetch(`http://localhost:3000/host/api/send`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                id: cmnd,
            })
        })
            .then(response => {
                return response.json();
            })
            .then(data => {
                if (data.status > 0) {
                    showAlertSuccess('Tải xuống thành công!')
                }
            })
            .catch(error => {
                console.log(error)
            });
        const pdf = new jsPDF();
        const pdfContent = document.getElementById("target");
        activities.style.display = "none";
        pdf.addHTML(pdfContent, function () {
            pdf.save(`${fileName}.pdf`);
        });
        activities.style.display = "flex";
    });

    function showAlertSuccess(msg) {
        window.scrollTo({
            top: 0,
            behavior: "smooth"
        });
        flash_success.innerHTML = `<strong>${msg} </strong>`;
        flash_success.classList.remove('d-none');

        setTimeout(function () {
            flash_success.classList.add('d-none');
            window.location.href = '/host/dang-ky-tam-tru'
        }, 2500);

    }

    function showAlertFail(msg) {
        const flash_fail = document.getElementById("flash-alert-danger");
        flash_fail.innerHTML = `<strong>${msg} </strong>`;
        flash_fail.classList.remove('d-none');

        setTimeout(function () {
            flash_fail.classList.add('d-none');
            window.location.href = '/host/dang-ky-tam-tru'
        }, 1300);

    }


</script>

</html>